# Dependencies
node_modules/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment Variables
.env
.env.*
!.env.example

# Next.js
.next/
out/
build/
.vercel

# IDEs and OS
.idea/
.vscode/
.DS_Store
*.swp
*.swo

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Testing
coverage/

# Misc
.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions
*.tsbuildinfo
next-env.d.ts
