# Core libraries
aiogram
aiohttp
python-dotenv
pytz

# Google API libraries
google-api-python-client
google-auth-httplib2
google-auth-oauthlib

# Other utilities
gender-guesser
beautifulsoup4
requests
